@import "variaveis";

#home {
    background: linear-gradient(to right, #000, rgba(0, 0, 0, 0.0)), url(../images/hero_image.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;

    .hero {
        padding: 100px 0;
        color: #fff;

        @media (max-width: 575px) {
            width: 100%;
            margin: 0 auto;
        }

        @media ($mobile) {
            position: relative;
            z-index: 2;
        }

        h1 {
            font-size: 48px;
        }

        p {
            margin-top: 24px;
            margin-bottom: 24px;
        }

        @media (max-width: 575px) {
            max-width: 90%;
        }
    }
}