//CORES
$corPrimaria: #000;
$corSecundaria: #FFD700;
$corDestaque: #8B0000;
$corSecaoAbout: #0c0b0b;

//FONTES
$fontePrincipal: "Dela Gothic One";
$fonteTextos: roboto, 'sans-serif';

//BREAKPOINTS
$mobile: "(max-width: 767px)";
$tablet: "(min-width: 768px) and (max-width: 991px)";